</br></br></br></br>
</br></br></br></br>
</br></br></br></br></br></br></br></br></br></br>
<section id="services">
  <div class="container back">
    <div class="row">

<div class="col-lg-12 text-center ">

  <h2 class="section-heading">Iglu</h2><h3 class="section-subheading text-muted">Iglu accesses your instagram likes, so you can visually discover, collect, and save creative ideas.</h3>
</div>


<div class="row text-center fog">
  <div class="col-md-4">
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x text-primary"></i>
      <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
    </span>
    <h4 class="service-heading">Connect Instagram</h4>
    <p class="text-muted"> Sign in with your instagram account, and we'll do the rest.</p>
  </div>
  <div class="col-md-4">
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x text-primary"></i>
      <i class="fa fa-thumb-tack fa-stack-1x fa-inverse"></i>
    </span>
    <h4 class="service-heading">Tack It </h4>
    <p class="text-muted">Organize your photos into albums you've created.</p>
  </div>
  <div class="col-md-4">
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x text-primary"></i>
      <i class="fa fa-info fa-stack-1x fa-inverse"></i>
    </span>
    <h4 class="service-heading">Infomation Scouting</h4>
    <p class="text-muted">Access your albums. Plan your adventure based on the information we scouted about this photo. </p>
  </div>
</div>
</div>
</section>
