<div class="area"></div><nav class="main-menu">
  <ul>
    <li>
      <a href="/users/self/media/liked">
        <% link_to "root_path" %>
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
          Dashboard
        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a href="/albums">
        <i class="fa fa-folder-open fa-2x"></i>
        <span class="nav-text">
          My Albums
        </span>
      </a>

    </li>
    <li class = 'has-subnav'>
    <a href="/search">
      <i class="fa fa-search fa-2x"></i>
      <span class="nav-text">
        Search
      </span>
    </a>
  </li>


  <ul class="logout">
    <li>
      <a href="/logout">
        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text">
          Logout
        </span>
      </a>
    </li>
  </ul>
</nav>
