<div class="area"></div><nav class="main-menu">
  <ul>

    <li class="has-subnav">
      <a href="">
        <i class="fa fa-heart fa-2x"></i>
        <span class="nav-text">
          <% number = Photo.all.where(user: current_user.id).count %>
          Welcome <%=current_user.name %></br></br>
          <ol>
            <li>Number of photos:</br></li>
            <li><%= number%>  </li></br>
            <%count= Album.where(uid: current_user.id).count %>
            <li>Number of albums:</br></li>
            <li><%= count %></li>
            </ol>
        </span>
      </a>

    </li>
  </br></br>





    <li>
      <a href="/users/self/media/liked">
        <% link_to "root_path" %>
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
          Dashboard


        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a href="/albums">
        <i class="fa fa-folder-open fa-2x"></i>
        <span class="nav-text">
          My Albums
        </span>
      </a>

    </li>


    <li class = 'has-subnav'>
      <a id="fmly"  href='javascript:void(0)' onClick="$('#event-modal-window').modal()">
      <i class="fa fa-search fa-2x"></i>
      <span class="nav-text">
        Search
      </span>
      </a>


  </li>




  <ul class="logout">
    <li>
      <a href="/logout">
        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text">
          Logout
        </span>
      </a>
    </li>
  </ul>
</nav>
