Hi.
<%= link_to "sign in", "/auth/instagram" %>

<div id="overlay">
  <div>
    <%= link_to "sign in", "/auth/instagram" %>
    <a href='#' onclick='overlay()'>Click here to show the overlay</a>
  </div>
</div>
