Hi.
<%= link_to "sign in", "/auth/instagram" %>
<html lang="en-US">
<head>

  <meta charset="utf-8">

  <title>Login</title>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body class="home page page-id-4 page-template-default custom-background single-author singular two-column left-sidebar">

  <div class="containerzz">

    <div id="loginzz">

      <form action="javascript:void(0);" method="get">

        <fieldset class="clearfix">


          <p><input type="submit" value="Sign In" onclick="window.location='/auth/instagram';" /> </p>

        </fieldset>

      </form>



    </div> <!-- end login -->

  </div>

</body>
</html>
