

<body class="home page page-id-4 page-template-default custom-background single-author singular two-column left-sidebar">
  <div class = "backing">
  <%= image_tag("FullSizeRender.jpg", height: '800', width: '1457')%>
  <div class="containerzz">

    <div id="loginzz">

      <form action="javascript:void(0);" method="get">

        <fieldset class="clearfix">


          <p><input type="submit" value="Sign In" onclick="window.location='/auth/instagram';" /> </p>

        </fieldset>

      </form>



    </div> <!-- end login -->
  </div>
  </div>

</body>

</html>
