
<div class='modal-header'>
  <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>x</button>
  <div class='modal-title'><h2><b><center>Tack It!</center></b></h2></div>
</div>

<div class='modal-body'>
  <form action='/pinned/new' method='POST' role='form'>
    <div class = 'form-group'>

      <label for='albumOption'>Add to a board</label>
      <select name="album_id"><center>
        <%= Album.all.each do |user| %>
        <option value="<%= Album.find_by(uid: current_user).a_name %>"><%= Album.find_by(uid: current_user ).a_name %></option>
      </center> <% end %>
    </select> </br></br>

      <label for='albumOption'>Description</label>
      <input type='text' name='album[email]' class='form-control' placeholder='Write a description' id='subscribeEmail'/>
    </div>
  </div>

  <div class='modal-footer'>
    <input type='submit' value='Get notified!' class='btn btn-primary'/>
  </form>
</div>
