

<div class="container">

  <div class="row">

    <% AlbumPhoto.all.where(uid: current_user.id).each do |n| %>
    <div class= 'col-xs-12 col-md-4'>
      <%= albumname = n.album_id %>
      <%= photoid = n.photo_id %>
      <% Photo.all.where(user: current_user.id, id: photoid).each do |y| %>
      <div class = 'polaroid'>
        <%= image_tag(y.url)%>
      </br>
      <h2><%=albumname %> </h2>
      <p>fuji superia, nikon fe2</p>
      <br/>
    </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
