<!DOCTYPE html>
<html>
<head>
  <title>Iglu</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,700italic' rel='stylesheet' type='text/css'>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel='stylesheet' href="http://fonts.googleapis.com/css?family=Titillium+Web:300">
    <link rel='stylesheet' href="http://fonts.googleapis.com/css?family=Titillium+Web:300">
    <link rel='stylesheet' href="https://dl.dropboxusercontent.com/u/68399045/lmroman10-regular-webfont.svg#latin_modern_roman10_regular">
    <link rel='stylesheet' href='https://dl.dropboxusercontent.com/u/68399045/lmroman10-regular-webfont.eot'>
    <link rel='stylesheet' href='https://dl.dropboxusercontent.com/u/68399045/lmroman10-regular-webfont.eot?#iefix'>
    <link rel='stylesheet' href='https://dl.dropboxusercontent.com/u/68399045/lmroman10-regular-webfont.woff'>
    <link rel='stylesheet' href='https://dl.dropboxusercontent.com/u/68399045/lmroman10-regular-webfont.ttf'>
    <link rel='stylesheet' href='https://dl.dropboxusercontent.com/u/68399045/lmroman10-regular-webfont.svg#latin_modern_roman10_regular'>

</head>
<body>


<%= yield %>

<div class="area"></div><nav class="main-menu">
  <ul>
    <li>
      <a href="/users/self/media/liked">
      <% link_to "root_path" %>
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
          Dashboard
        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a href="/albums">
        <i class="fa fa-folder-open fa-2x"></i>
        <span class="nav-text">
          My Albums
        </span>
      </a>

    </li>
      <a href="#">
        <i class="fa fa-map-marker fa-2x"></i>
        <span class="nav-text">
          Maps
        </span>
      </a>
    </li>


  <ul class="logout">
    <li>
      <a href="/logout">
        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text">
          Logout
        </span>
      </a>
    </li>
  </ul>
</nav>

</body>
</html>
